---
layout: default
title: Team
---
<body onload="idk()">
    <div class="pageCenter">

        {% include navbar.html %}

        <!-- Header -->
        <div class="about-us-team-header" style = "padding-top:9%">
            <h1>MEET OUR TEAM</h1>
            <h3>(2021-2021)</h3>
            <div id="about-us-team-gallery">
            <img id="about-us-team-gallery-image" width="80%">
            </div>
        </div>
        <!-- Gallery -->
        
        <div style = "background: linear-gradient(white, #f4ccccff 40%);">
            <!--text-->
            <div style="color: black">
                <h2 class="top-header" style ="padding-top: 5%; margin:0; padding-bottom: 0;">EMGirls National Team</h2>
                <img src="/assets/images/executivenationalteam.png" width="100%" style="margin: 0;">
                <h2 class="top-header" style ="padding-top: 5%; margin:0; padding-bottom: 2%;">EMGirls Vancouver Team</h2>
                <img src="/assets/images/Vancouverteam.png" width="90%">
            </div>
            
            <table style = "width: 100%; align-items: center; padding-top: 5%; padding-bottom: 4%;">
                <td style = "width: 50%; padding-left:5%">
                    <button class = "teamBtn">Information Package</button>
                </td>
                <td style = "width: 50%; padding-right:5%">
                    <button class = "teamBtn"> Apply Here! </button>
                </td>
            </table>
        </div>
        
        

        {% include footer.html %}
    </div>

</body>
<script src="/js/about-us-team-gallery-pain.js"></script>