<!-- Footer -->
<div style="padding-left: 10%; padding-right:10%; padding-top:20px; padding-bottom:20px; text-align: left;">
    <table>
        <tr>
            <td style="width:40%;">
                <h6 style="font-size: 3vw;"><b>About Us</b></h6>
            </td>
            <td style="width:30%">
                <h6 style="font-size: 3vw;"><b>Get in Touch</b></h6>
            </td>
        </tr>


        <tr style="vertical-align: top;">
            <td style="padding-right: 8%">
                <h6 style="color: black; ">
                    EMGirls is a youth-led nonprofit organization that aims to
                    empower girls by continually challenging them to step out
                    of their comfort zones.
                </h6>
            </td>

            <td>
                <h6 style="color: black;">
                    <a href="https://www.instagram.com/emgirls_org" target="_blank"><img width="20%"
                            src="/assets/images/instagramlogo.png"></a>
                    <a href="https://www.facebook.com/emgirls.ca/" target="_blank"><img width="20%"
                            src="/assets/images/facebooklogo.png"></a>
                    <a href="mailto:info@emgirls.org" target="_blank"><img width="20%"
                            src="/assets/images/maillogo.png"></a>
                    <a href="https://ca.linkedin.com/company/emgirls" target="_blank"><img width="20%"
                            src="/assets/images/linkedinlogo.png"></a>
                </h6>
            </td>
        </tr>

    </table>

</div>