<div class="pageCenter">

<!-- Menu -->
<table class="navbar">
    <td style="width:15%">
        <a href="/"><img width="50%" style="vertical-align: center;" src="/assets/images/logowhite.png"></a>
    </td>
    <td style="width:14%">
        <div class="dropdown">
            <button class="dropbtn"> About Us </button>
            <div class="dropdown-content">
                <a href="/about-us/">About Us</a>
                <a href="/about-us/team/">Team</a>
            </div>
        </div>
    </td>

    <td style="width:15%">
        <div class="dropdown">
            <button class="dropbtn"> Intern Team </button>
            <div class="dropdown-content">
                <a href="/intern/">Intern Team</a>
                <a href="/intern/gen1/">1st Gen</a>
                <a href="/intern/gen2/">2nd Gen</a>
            </div>
        </div>
    </td>

    <td style="width:15%">
        <div class="dropdown">
            <button class="dropbtn">Past Events
            </button>
            <div class="dropdown-content">
                <a href="/events/">Events</a>
                <a href="/events/eec/">EEC</a>
            </div>
        </div>
    </td>

    <td style="width:15%">
        <a href="/contact/">Contact Us</a>
    </td>
    <td style= "width: 15%">
        <a href="/partners/">Partners</a>
    </td>
</table>