---
layout: default
title: Gen 2
---
<body onload="idk()">
    <div class = "pageCenter">
        {% include navbar.html %}


        <!-- Header -->
        <img src="/assets/images/intern/emmarketingheader.png" width="100%">
        <div style="background-color: white; color: black; padding-top: 3%;">
            <i>
                Each generation of Interns get to host an event or project of their choice. 
                For Generation Two, the interns chose to host a marketing camp and a final 
                graphic design competition for females in high school and post-secondary. 
                <br><br>
                The event is called "EMMarketing," and it was held from July 5th to July 9th, 2021.
            </i>
            <br><br>
            <table style = width:100%>
                <td style = "width: 50%;">
                    <div class="gen2Blobs">
                            Every day had a different theme: 
                            graphic design, written communication, and marketing
                    </div> <br>

                    <div class="gen2Blobs" style = "background-color: white; border-color: #f4cccc; color:#660000">
                            Each day occured from 4:00PM to 6:00PM, and 
                            included a minimum of one networking/breakout session, 
                            learning materials, and resources such as mentors
                    </div><br>

                    <div class="gen2Blobs">
                            All participants were given a case study 
                            where they were judged and able to showcase what they learned
                    </div>
                    
                </td> 
                <td style = "width: 50%;">
                    <b><i>Who were the past sponsors?</i></b>
                    <img id="slideshow" width="100%">
                    
                </td>
            </table>

            <br>
            <!-- <i><b>Want to meet the intern team?</b></i> -->
        </div>
        
        <div style="background-color: white;">
            <table style="width: 100%">
                <tr>
                    <td style="width: 30%;">
                        <div class = "face sophie-yang" style = "border-radius: 60%;">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                Hi I'm Sophie and I’m currently a rising senior in Toronto. 
                                As a student heading towards business management and law, 
                                I really resonate with EMGirls’s message. 
                            </p>
                        </div><br>
                        <i class="pink-text">Sophie Yang</i>
                    </td>
                    <td style="width: 30%;">
                        <div class = "face shrena-sribalan">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                Hi there, My name is Shrena Sribalan! These passions consist 
                                of business, STEM fields, the arts, and giving back to my community!
                            </p>
                        </div><br>
                        <i class="pink-text">Shrena Sribalan</i>
                    </td>
                    <td style="width: 30%;">
                        <div class = "face evelyn-lee">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%;">
                                Greetings, I’m Evelyn Lee, a student at Erindale Secondary School! 
                                I love flowers, fantasy, and all the arts. As a female and an 
                                aspiring entrepreneur, I really resonate with EMGirls’s mission 
                                and what they stand for.
                            </p>
                        </div><br>
                        <i class="pink-text">Evelyn Lee</i>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%;">
                        <div class = "face jennifer-lee">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                Hi, everyone! My name is Jennifer, and I am a rising senior from 
                                Ontario, Canada. My greatest passions are in the natural sciences 
                                and humanities, such as biochemistry and history.
                            </p>
                        </div><br>
                        <i class="pink-text">Jennifer Lee</i>
                    </td>
                    <td style="width: 30%;">
                        <div class = "face isah-sidhu">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                Hi! My name is Isha, and I live in Toronto, Canada! I love baking 
                                and dancing. I first learned about EMGirls through EEC and have 
                                loved their message ever since!
                        </div><br>
                        <i class="pink-text">Isha Sidhu</i>
                    </td>
                    <td style="width: 30%;">
                        <div class = "face sahana-abbennagari">
                            <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                Hi, everyone! My name is Sahana Abbennagari, and I am a rising senior 
                                from Cleveland, OH. I love adventures, dancing, nature, and meeting 
                                new people.
                        </div><br>
                        <i class="pink-text">Sahana Abbennagari</i>
                    </td>
                </tr>
                
            </table>                    
        </div>
        

        {% include footer.html %}

    </div>
</body>
<script src="/js/gen2-script.js"></script>
