---
layout: default
title: Partners
---
<body>
    {% include navbar.html %}

    <!-- Header -->
    <div class="partners-header">
        <h1>SPONSORS & PARTNERS</h1>
        <h3>(2021-2021)</h3>
    </div>
    <div style = "background-color: white; padding-left: 6%;padding-right: 6%; font-size: 1.8vw;">
        <p style = "font-size: 3.42vw; color: black;"><b>EMGirls is made possible by our partners</b></p>
        <p style = "color:black">
            EMGirls would like to thank our generous sponsors and supporting partners who share our 
            mission of supporting aspiring female entrepreneurs in entrepreneurship. These alliance 
            partnerships make it possible for EMGirls to serve youth worldwide. If you are interested 
            in supporting EMGirls, please fill out the form below. 

        </p>
    </div>
    
    <div style = "background: linear-gradient(white, #f4ccccff 95%); color: black; padding-left: 6%;padding-right: 6%; font-size: 2vw; text-align: left;">
        
        
        <!-- Empower -->
        <table style = "width: 100%">
            <td style = "width: 30%; padding-left: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
            <td style = "width:33%; text-align: center;">
                <p style = "font-size: 3.42vw;"><b>EMPOWER</b></p>
            </td>
            <td  style = "width: 30%; padding-right: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
        </table>

        <table style = "width: 100%; border: 0.2vw solid white; border-collapse: collapse;">
            <td style = "background-color: #f4cccc; border-right: white solid 1vw; width:50%; padding:3%">
                <img src="/assets/images/partners/mcmaster.png" width="100%">
                <p style = "font-size: 1.6;">
                    EMGirls would like to thank McMaster University’s DeGroote School of Business, 
                    for their generous support this year. The DeGroote School of Business us based 
                    in Hamilton, Ontario and is known for being one of the top business schools in 
                    Canada. Please visit their <a href="https://www.degroote.mcmaster.ca"> website</a> for more 
                    information. Thank you McMaster!
                </p>
            </td>
            <td style = "background-color: #f4cccc; padding: 3%; border-left: white solid 1vw;">
                <img src="/assets/images/partners/wehk.png" width="100%">
                <p style = "font-size: 1.6;">
                    EMGirls would also like to thank the Ryerson University’s Diversity Institute 
                    partnered with the Women Entrepreneurship Knowledge Hub for their kind support 
                    this year. The WEKH are supporting female entrepreneurs by providing resources 
                    and events. Keep updated with the WEKH here  
                    <a href="https://wekh.ca."> here</a> 
                    Thank you WEKH!
                </p>
            </td>
        </table>

        <!-- ignite -->
        <table style = "width: 100%; padding-top: 4%;">
            <td style = "width: 30%; padding-left: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
            <td style = "width:33%; text-align: center;">
                <p style = "font-size: 3.42vw; margin:0"><b>IGNITE</b></p>
            </td>
            <td  style = "width: 30%; padding-right: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
        </table>
        <img src="/assets/images/partners/ignite.png" class="inline-block" style = "width: 40%; margin:0">
        <p class="inline-block " style = "width:59%; font-size: 1.37vw; margin:0">
            Innovation Boost Zone (IBZ) is a user-centric technology incubator at Ryerson University 
            that supports entrepreneurs throughout their journey while providing startups with access 
            to programs, advisors, mentorship, co-working space as well as funding. Thank you 
            Innovation Boost Zone for sponsoring EMGirls!

        </p>

        <!-- grow -->
        <table style = "width: 100%; padding-top: 4%;">
            <td style = "width: 30%; padding-left: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
            <td style = "width:33%; text-align: center;">
                <p style = "font-size: 3.42vw; margin:0"><b>GROW</b></p>
            </td>
            <td  style = "width: 30%; padding-right: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
        </table>
        
        <table style = "width:100%">
            <tr style = "text-align: center; vertical-align: bottom;">
                <td style = "width:33%">
                    <img src="/assets/images/partners/Karen Ras (Grow).png" width="80%; margin: 0">
                </td>
                <td style = "width:33%">
                    <img src="/assets/images/partners/Joanne Oxley (Grow).png" width="70%; margin: 0">
                </td>
                <td style = "width:33%;">
                    <img src="/assets/images/partners/Colleen Moorehead (Grow).png" width="70%; margin: 0">
                </td>
            </tr>
            <tr style = "font-size: 1.6vw; text-align: center;">
                <td style = "width:33%">
                    Karen Ras
                    <br>
                    City of Mississauga 

                </td>
                <td style = "width:33%">
                    Joanne Oxley
                    <br>
                    [change]
                </td>
                <td style = "width:33%">
                    Colleen Moorehead
                    <br>
                    Business Leader 

                </td>
            </tr>
        </table>
        
        <table style = "width: 100%; text-align: center; padding-top: 3%;">
            <td style = "width: 50%;">
                <img src="/assets/images/partners/MSBC (Grow).png" width="70%; margin: 0">
            </td>
            <td style = "width: 50%;">
                <img src="/assets/images/partners/Dollarama_logo (grow).png" width="70%; margin: 0">
            </td>
        </table>

        <!-- Sprout -->

        <table style = "width: 100%; padding-top: 4%; padding-bottom: 1%;">
            <td style = "width: 30%; padding-left: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
            <td style = "width:33%; text-align: center;">
                <p style = "font-size: 3.42vw; margin:0"><b>SPROUT</b></p>
            </td>
            <td  style = "width: 30%; padding-right: 3%;">
                <hr style="background-color: #f4cccc; height: 0.4vw; width: 100%; margin-left: 0; border: 0;" />
            </td>
        </table>

        <table style = "width: 100%; padding-top: 4%; text-align: center;">
            <tr>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/Panago-Logo (Sprout).png" width = "80%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/WEOC Logo (Sprout).png" width = "80%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/smash kitchen (Sprout).png" width = "60%">
                </td>
            </tr>
            <tr>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/WEOC-logo (Sprout).png" width = "80%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/Julie Minielly (Sprout).png" width = "60%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/the pivotal point (Sprout).png" width = "80%">
                </td>
            </tr>
            <tr>
                <td colspan="2" style = "width: 33%;">
                    <img src="/assets/images/partners/SCWIST.png" width = "80%">
                </td>
                <td style = "width: 66%;">
                    <img src="/assets/images/partners/the-keg.png"width = "80%">
                </td>
            </tr>
            <tr>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/xyz.png" width = "80%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/logo.png" width = "80%">
                </td>
                <td style = "width: 33%">
                    <img src="/assets/images/partners/image.png" width = "80%">
                </td>
            </tr>
        </table>
        
        <p style = "font-size: 3.4vw; margin:0; padding-top: 4%; padding-bottom: 2%;"> <b>
            How can EMGirls support your business?
        </b></p>
        <div style = "text-align: center;">
            <img src="/assets/images/partners/EMGirls Sponsorship Tiers 2021.png" width = "95%">
        </div>
        

        <!-- comment stuff -->
    </div>

    {% include footer.html %}
    </div>
</body>