---
layout: default
title: Intern Team
---
<body>
    <div class = "pageCenter">
        {% include navbar.html %}
        <!-- Header -->
        <div class="intern-header">
            <h1>INTERN TEAM</h1>
        </div>
        
        <div class = "intern">
            <p style = "font-size: 3.2vw; margin:0;">
                <i><b>What does it mean to be an EMintern?</b></i>
            </p>

            <p style = "margin:0; padding-bottom: 4%; padding-top:2%;">
                Interns devise mini-projects and events throughout the year: they may solicit sponsors, 
                network with professionals create event documents, hold webinars, etc. Your hours of hard 
                work and dedication will be recorded. Volunteer hours and reference letters will be given 
                upon request. 
            </p>
            
            <div style ="padding-top:4%; padding-bottom:4%;">
                <table style = "width: 100%; align-items: center;">
                    <td style = "width: 50%;">
                        <a href = "https://docs.google.com/document/d/1fLuHuba6oaqVJIoY8C9PCKWFL1BGBtY2E4MLnbQaHJc/edit" target="_blank"> 
                            <button>Information Package</button>
                        </a>
                    </td>
                    <td style = "width: 50%;">
                        <a href = "https://docs.google.com/forms/u/5/d/1aa9FMBFCeYsJCujRUhrRbXObRdwXfp-ImDtdtfq45RE/edit?usp=sharing" target="_blank"> 
                            <button> Apply Here! </button>
                        </a>
                    </td>
                </table>
                
                
            </div>
            <p style = "font-size: 2.7vw; margin:0; padding-top: 4%; padding-bottom: 3%;"> <b>
                <i>Still curious? Check out our past events!</i>
            </b></p>
            <p style = "font-size: 2.7vw; margin:0; color:#e06666">
                <b>FALL 2020</b>
            </p>
            <table style = "width:100%">
                <td style = "width:70%">
                    <img src="/assets/images/intern/eicheader.png" width="100%">
                </td>
                <td style = "padding-left: 3%; vertical-align: top;">
                    The EMGirls Innovation Challenge featured a series of presentations from female 
                    entrepreneurs on their unique experiences. These entrepreneurs also served as mentors 
                    to participants as they geared up to solve a business challenge!

                    <a href="/intern/gen1/" style="text-decoration: none;">
                        <p style="color: #ea9999;">
                            <b>
                                LEARN MORE
                                <span class="learn-more-button-thing">
                                    >
                                </span>
                            </b>
                        </p>
                    </a>
                </td>
            </table>
            <p style = "font-size: 2.7vw; margin:0; color:#e06666; text-align: right;">
                <b>SPRING 2021</b>
            </p>
            <div>
                <div style="display: inline-block; width:29%; padding-right: 3%;">
                    EMMarketing was a marketing camp that featured a series of established business and 
                    design professionals that taught and mentored participants on marketing. Participants 
                    showcased what they learned with a final design competition.

                    <a href="/intern/gen2/" style="text-decoration: none;">
                        <p style="color: #ea9999">
                            <b>
                                LEARN MORE
                                <span class="learn-more-button-thing">
                                    >
                                </span>
                            </b>
                        </p>
                    </a>
                </div>
                <div style="display: inline-block; width: 67%">
                    <img src="/assets/images/intern/emmarketingheader.png" width="100%">
                </div>
            </div>
            <br><br>
        </div>
        {% include footer.html %}

    </div>
</body>