---
layout: default
titile: Gen 1
---
<body>
    <div class = "pageCenter">
        {% include navbar.html %}


        <!-- Header -->
        <div style="color: black; background-color: white; font-size: 2.1vw; ">
            <img src="/assets/images/intern/eicheader.png" width="100%">
            <i>Held on March 20th, 2021, the EMGirls Innovation Challenge (EIC) featured: </i>
            <br>
            <br>
            <div style = "background-color: white;">
                <table style = "font-size: 1.6vw; width: 100%">
                    <td style = "width:30%; vertical-align: middle;">
                        <div class = "gen1Blobs">
                            A series of female entrepreneurs giving 
                            firsthand knowledge of their entrepreneurship 
                            journey; highs, lows, and in-betweens.
                        </div>
                    </td>
                    <td style = "width: 30%">
                        <div class = "gen1Blobs" style = "background-color: white; border-color: #f4cccc; color:#660000">
                            An interactive experience where you met other 
                            girls to test your collaboration, communication, 
                            and problem-solving skills.
                        </div>
                    </td>
                    <td style = "width:30%">
                        <div class = "gen1Blobs">
                            Team mentorship from the speakers to help your 
                            team solve the challenge and win $100, among 
                            other prizes.
                        </div>
                    </td>
                </table>

                <a
                    style="text-decoration: none;
                    color:white;
                    background-color: black;
                    border-radius: 10vw;
                    padding: 1.5%;
                    margin: 3%;
                    width: 30%;
                    display: inline-block;"
                    href="https://drive.google.com/file/d/1_ACuey8IURyESsn2okVS0uvk7s-cm-h_/view">
                    PARTICIPANT HANDBOOK
                </a>
                <br>
                <i><b>Who were the past sponsors?</b></i><br>
                <br>
                <img src="/assets/images/intern/swoonsponsorlogo.png" width="60%"><br><br>
                <i><b>Want to meet the intern team?</b></i><br>
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%;">
                                <div class = "face kaylee-chou">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hey! I live in Vancouver, Canada. My passions are journaling 
                                        and playing volleyball. Three words I’d use to describe 
                                        my Internship are growth, collaboration and learning.
                                    </p>
                                </div><br>
                                <i class="pink-text">Kaylee Chou</i>
                            </td>
                            <td style="width: 30%;">
                                <div class = "face vanessa-herrera">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hi! I live in Monterrey, Mexico. I love learning and traveling. 
                                        I would describe my Intern experience here in EMGirls as 
                                        extraordinary, educational and life-changing.
                                    </p>
                                </div><br>
                                <i class="pink-text">Vanessa Herrera</i>
                            </td>
                            <td style="width: 30%;">
                                <div class = "face olivia-stevenson">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hello! I live in Toronto, Canada. I enjoy drawing and spending 
                                        time with friends. My experience has been educational, 
                                        rewarding and a good time.
                                </div><br>
                                <i class="pink-text">Olivia Stevenson</i>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">
                                <div class = "face adya-chatterjee">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hi! I live in Singapore/Boston. My passions include working out 
                                        and trying new foods. Three words for my EMGirls experience are 
                                        synergetic, experimental, and new!
                                    </p>
                                </div><br>
                                <i class="pink-text">Adya Chatterjee</i>
                            </td>
                            <td style="width: 30%;">
                                <div class = "face leanne-kwong">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hey! I live in Toronto, Canada. My interests are dance and skiing. 
                                        My experience so far has been inspiring, transformative and 
                                        gratifying.
                                    </p>
                                </div><br>
                                <i class="pink-text">Leanne Kwong</i>
                            </td>
                            <td style="width: 30%;">
                                <div class = "face jane-liu">
                                    <p style = "padding-top:25%; padding-left: 5%; padding-right: 5%; ">
                                        Hi! I live in Vancouver, Canada. I like art/design and music. 
                                        My experience as an intern has been exciting, valuable and memorable.
                                </div><br>
                                <i class="pink-text">Jane Liu</i>
                            </td>
                        </tr>
                        
                    </table>                    
            </div>
        </div>

        {% include footer.html %}

    </div>
</body>