<!DOCTYPE html>

<head>
    <title>EMGirls| {{ page.title }}</title>
    <link rel="icon" href="/assets/images/logowhite.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <meta name="title" content="EMGirls">
    <meta name="description" content="EMGirls is a registered youth-led non-profit organization dedicated to empowering young women interested in entrepreneurship. Based in the Greater Toronto Area, our signature event, EMGirls Entrepreneurial Competition, amassed 1000+ participants, judges, mentors, and speakers. At our webinars, we cover business concepts including marketing, finance, start-up venture ideas, developing a business pitch, and more. Our partnerships include Start-Up Canada, University of Toronto Rotman School, McMaster University DeGroote School of Business, Ryerson University iBoost Innovation Hub, and more.">
    <meta name="keywords" content="emgirls, nonprofit">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://emgirls.org/">
    <meta property="og:title" content="EMGirls">
    <meta property="og:description" content="EMGirls is a registered youth-led non-profit organization dedicated to empowering young women interested in entrepreneurship. Based in the Greater Toronto Area, our signature event, EMGirls Entrepreneurial Competition, amassed 1000+ participants, judges, mentors, and speakers. At our webinars, we cover business concepts including marketing, finance, start-up venture ideas, developing a business pitch, and more. Our partnerships include Start-Up Canada, University of Toronto Rotman School, McMaster University DeGroote School of Business, Ryerson University iBoost Innovation Hub, and more.">
    <meta property="og:image" content="/assets/images/logoblack.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://emgirls.org/">
    <meta property="twitter:title" content="EMGirls">
    <meta property="twitter:description" content="EMGirls is a registered youth-led non-profit organization dedicated to empowering young women interested in entrepreneurship. Based in the Greater Toronto Area, our signature event, EMGirls Entrepreneurial Competition, amassed 1000+ participants, judges, mentors, and speakers. At our webinars, we cover business concepts including marketing, finance, start-up venture ideas, developing a business pitch, and more. Our partnerships include Start-Up Canada, University of Toronto Rotman School, McMaster University DeGroote School of Business, Ryerson University iBoost Innovation Hub, and more.">
    <meta property="twitter:image" content="/assets/images/logoblack.png">

    <!--meta tags generated by https://metatags.io/-->
</head>

{{ content }}